<h1>Please Register</h1>

<div class="row">
    <form class="col s12" method="POST" action="/register">
      <div class="row">
        <div class="input-field col s6">
          <input name="firstname"id="firstname" type="text" class="validate" length="20">
          <label for="firstname">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name="lastname" id="lastname" type="text" class="validate" length="20">
          <label for="lastname">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input name="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="input-field col s6">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <button>Register</button>
      <!-- Add dropdowns to select instructor and TA(s) -->
    </form>
  </div>